@import url(http://fonts.googleapis.com/css?family=Oswald);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  background: #333;
  border: 0px;
  width: 100%;
  height: 100%;
}
html {
  padding: 50px;
  display: table;
}
body {
  display: table-cell;
  vertical-align: middle;
}
article.flashcard {
  margin: 0px auto;
  border: 1px rgba(255, 255, 255, 0.03) solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
}
article.flashcard input[type=checkbox] {
  display: none;
}
article.flashcard input[type=checkbox]:checked ~ label section.front {
  height: 0%;
}
article.flashcard input[type=checkbox]:checked ~ label section.back {
  height: 100%;
}
article.flashcard label {
  display: block;
  width: 100%;
  height: 100%;
}
section {
  display: block;
  font: 30px 'Helvetica', sans-serif;
  text-align: center;
  line-height: 200px;
  width: 100%;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  overflow: hidden;
    margin: 0px auto;
  border: 1px rgba(255, 255, 255, 0.03) solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 200px;
}
article.flashcard section.front {
  color: #BA1F53;
  background: #DDD;
  height: 100%;
}
article.flashcard section.back {
  color: #DDD;
  background: #C85073;
  height: 0%;
}
